.container {
    position: relative;
    display: inline-block;
}

.container img {
    width: 100vw;
}


.Madspild{
    margin: 0;
    font-size: 30px;
}

header{

}


.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 70%;
    background-color: beige;
    transform: translateX(-50%);
    white-space: pre-wrap; /* bevarer linjeskift */
    padding: 0 24px 24px 24px;
    overflow-y: auto;       /* hvis teksten er længere end baren */
    font-size: 24px;

}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer {
    display: flex;
    padding: 20px;
}

.next {
    margin-left: auto;
}

button{
    font-size: 25px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

.foerste-artikel {
    width: 100%;
    word-wrap: break-word;
    position: relative;
}

.overskrift {
    font-size: 40px;
    position: absolute;
    top: 0;
}

.Tekst1 {
    top: 10%;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

.indhold {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    max-width: 100vw;
    justify-content: space-between;
}

/* Her cutter vi teksten automatisk */
.kort-tekst {
    display: -webkit-box;
    -webkit-line-clamp: 3;     /* antal linjer */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Læs mere link */
.indhold a {
    display: inline-block;
    margin-top: 10px;
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.indhold a:hover {
    text-decoration: underline;
}

.indhold h1 {
    margin: 0;
}

.indhold p{
    margin-top: 0;
}

.indhold {
    padding-top: 0;
}

.resizedTextbox {
    width: 700px;
    height: 300px;
    padding: 5px;           /* tekst starter lidt fra toppen og venstre kant */
    box-sizing: border-box;  /* padding tælles med i bredden/højden */
    vertical-align: top;
    resize: none;
}

.tid {
    max-width: 90px;
}

.links {
    float: right;
    margin: 10px;
}

.hojreknap {
    padding-left: 50px;
}

.hojreknap2 {
    text-align: right;
}

h1 {
    text-align: center;
    margin: 0;
    max-height: 30px;
    padding: 50px;
}